{% if advert %}
    <div class="advert">
        {% if advert.isImage() %}
            {% if advert.link %}
                <a href="{{ advert.link }}" title="{{ advert.name }}" data-request="onClick" data-request-data="advert_id: {{ advert.id }}">
            {% endif %}
            <img src="{{ advert.image|media }}" alt="{{ advert.name }}" />
            {% if advert.link %}
                </a>
            {% endif %}
        {% else %}
            {{ advert.html|raw }}
        {% endif %}
    </div>
{% endif %}